/* CSS for Home */

#home-container {
    display: flex;
    flex-direction: column;
    /* width: 100vw !important; */
    overflow-x: hidden;
    overflow-y: auto;
}

#carousel-container {
    width: 100%;
}
/* CSS for Tracks Section on Home */
#featured-tracks-heading { 
    color: #ffffff;
    text-decoration: none !important;
    margin-top: 1%;
}

#track-card-container {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: none;
    width: 100%;
    margin: 0;

}

