.record-heading{
    color:white;
}
.input-card-text{
    border: solid;
    border-color: white;
    border-radius: 1px;
}

#record-container{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: fit-content;
}

#record-card-info-div{
    /* background-color: purple; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2.5%;
    width: 70vw;
    height: 85%;
}

#card-settings-div{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: fit-content;
    height: fit-content;
    /* padding: 1%; */

}

#record-uploads-div{
    background-color: rgb(94, 94, 94);
    display: flex;
    flex-direction: column;
    height: 85%;
    width: fit-content;
    padding: 3%;
    border-color: #0e0e0e;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #272727);

}
.record-upload {
    background-color: rgb(176, 176, 176);
    /* border-color: orange; */
    width: 95%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1%;

}
.record-upload1 {
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.record-upload-background{
    /* background-color: blue; */
    height: 100%;
}
#file-upload{
    background-color: white;
    width: 100%;
    /* border-color: gray; */
}

#add-card-btn {
    background-color: #259FB1;
    border-color: #259FB1;
    border-radius: 0px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 8vh;
}
#add-card-btn:hover{
    background-color: #0c7b8b;
    border-color: #0c7b8b;
    text-decoration: underline;
}

#display-card-div{
    color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2%;
    margin-top: 2%;
    margin-left: 1%;
    /* background-color: green; */
    width: 70%;
    height: 65vh;
}

#card-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
    color: white;
    width: 95%;
    height: 100%;
    word-wrap: break-word;
}

#card-text{
    /* background-color: red; */
    max-width: 100%;
    max-height: 100%;
    word-wrap: break-word;
    text-align: center;
    padding: 4%;
}

#record-buttons-div{
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3%;
    width: 100%;
    /* height: 100%; */
    margin-top: 2%;
}

#skip-step-btn {
    background-color: #aaaaaa;
    border-color: #aaaaaa;
    border-radius: 0px;
    width: 40%;
    height: 7vh;
    /* margin-top: 1%; */
}
#skip-step-btn:hover{
    background-color: #7a7a7a;
    border-color: #7a7a7a;
    text-decoration: underline;
}

#go-record-btn {
    background-color: #F8607C;
    border-color: #F8607C;
    border-radius: 0px;
    width: 40%;
    height: 7vh;
    /* margin-top: 1%; */
}
#go-record-btn:hover{
    background-color:#e33051;
    border-color: #e33051;
    text-decoration: underline;
}