/* CSS for Music Track Cards */
.card {
    background-color: #565656;
    width: 18vw;
    height: fit-content;
    border-radius: 10px;  
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.card:hover{
    background-color: #7c7c7c;
    border-color: rgb(60, 60, 60);
}

.card-body{
    color: white;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

.card-img-top {
    width: 15vw;
    align-self: center; 
    border-radius: 10px;
    padding: 5px;  
}

.card-title{
    text-align: left;
    font-weight: 600;
}

.card-text{
    text-align: left;
    font-weight: 350;
}

#track-col{
    display: flex;
    justify-content: center;
}