#record-btn-div {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    row-gap: 5px;
    padding: 2%;
}

#record-btn, #stop-btn {
    width: 50%;
}
